.sidebar {
  width: 220px;
  height: 94vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: var(--primary);
  transition-duration: 0.2s;
  overflow-x: hidden;
  z-index: 1;
}
.sidebar .logo {
  display: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  flex-shrink: 0;
  color: #fff;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}
.sidebar .logo-expand {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 34px;
  position: sticky;
  top: 0;
}

.sidebar-link:hover,
.sidebar-link.is-active {
  color: #fff;

}
.sidebar-link:hover:nth-child(2n + 1) svg,
.sidebar-link.is-active:nth-child(2n + 1) svg {
  background: var(--accent);
}
.sidebar-link:hover:nth-child(2n) svg,
.sidebar-link.is-active:nth-child(2n) svg {
  background: var(--accent);
}
.sidebar-link:hover:nth-child(2n + 3) svg,
.sidebar-link.is-active:nth-child(2n + 3) svg {
  background: var(--accent);
}
.sidebar-link:hover::before {
  width: 100%;
}
.sidebar.collapse {
  width: 90px;
  border-right: 1px solid var(--border-color);
}
.sidebar.collapse .logo-expand,
.sidebar.collapse .side-title {
  display: none;
}
.sidebar.collapse .logo {
  display: flex;
}
.sidebar.collapse .side-wrapper {
  width: 30px;
}
.sidebar.collapse .side-menu svg {
  margin-right: 30px;
}
.side-menu {
  display: flex;
  flex-direction: column;
}
.side-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  width: 180px;
  font-size: 20px;
}
.side-menu a + a {
  margin-top: 40px;
}
.side-menu svg {
  width: 30px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--button-bg);
  flex-shrink: 0;
  margin-right: 16px;
}
.side-menu svg:hover {
  color: #fff;
}

.side-title {
  color: #fff;
  font-size: 20px;
  padding-bottom: 10px;
  letter-spacing: 0.07em;
  margin-bottom: 15px;
  width: 20px;
  border-bottom: 2px solid #fff;
}

.side-wrapper {
  /* border-bottom: 1px solid var(--border-color); */
  padding: 36px 0;
  width: 145px;
  margin-top: 40%;
  margin-bottom: 40%;
}
.side-wrapper + .side-wrapper {
  border-bottom: none;
}
.commentbtn{
  display: none;
}

@media only screen and (max-width: 768px) {
  /* .sidebar {
    width: 50px;
    padding: 12px;
    height: 96vh;
  }
  .sidebar .logo-expand {
    display: none;
  }
  .media {
    display: none;
  }
  .sidebar.collapse {
    width: 70px;
  }
  .sidebar.collapse .logo {
    display: flex;
    justify-content: center;
  }
  .sidebar.collapse .side-wrapper {
    width: 70px;
  }
  .side-menu a {
    justify-content: center;
    width: auto;
  }
  .side-menu a + a {
    margin-top: 40px;
  }
  .side-menu svg {
    margin-right: 0;
  }
  .sidebar-link:hover,
  .sidebar-link.is-active {
    font-weight: normal;
  }
  .sidebar-link.is-active svg {
    background-color: transparent;
  }
  .side-title {
    display: none;
  }
  .side-wrapper {
    width: auto;
    margin-top: 3px;
    margin-bottom: 3px;
  } */
 .sidebar{
  display: none;
 }
 .Bottom{
  display: flex !important;

 }
 .side-menu{
flex-direction:row ;
align-items: flex-end;

margin:auto 50% ;
 }
 .side-wrapper{
  margin: 0%;
 padding: 10px 0;
 }
 .side-menu a+a{
margin-top: 0;
 }
 .notify{
  display: none;
 }
 .postOptions{
  margin-top: 1pc;
 }
 .PostShare > div >form > input{
  width: 90%;
 }
 .NewEvent {
flex-wrap: wrap;
 }
 .NewEvent input{
  margin-top: 0.4pc;
  margin-bottom: 0.4pc;
 }
 .event .PostShare img{
  display: none;
 }
 .css-1domaf0{
  width: 97% !important;
 }
 .postOptions .option{
  width: 40px;
 }
 .blog-slider__item{
  flex-wrap: wrap;
 
 }
 .blog-slider__img:after{
  width: 80%;
  height: 80%;
 }
 .blog-slider{
  width: 70%;
  min-width: 0;
 }
 .commentbtn{
  display:block ;
 }
 .chatNo .unhotorizedcontainer{
  width:250px !important;
}

}
.Bottom{
  display: none;
}
