a {
  text-decoration: none;
  color: var(--accent);
}

header {
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
}
header a{
  margin-left: 10px;
}
.status {
  margin: 11px 0;
  color:var(--secondary)
}

#wrapper {
  background-color: var(--primary);
  width: 80%;
  margin: 10px auto 0;
  border-top: 0;
  border-radius: 2px;
  padding: 12px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.arrow {
  position: absolute;
  width: 12px;
  border: none;
  height: auto;
  right: 0px;
}

.profile-pic {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.name,
.date {
  margin: 0;
}

.name {
  color: var(--accent);
  font-size: 15px;
  margin-bottom: 5px;
}

.date {
  font-size: 12px;
  color: #90949c;
}

main {
  font-size: 13px;
}

main .status {
  margin-bottom: 11px;
}

.img-content {
  width: 100%;
  margin-bottom: 11px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.action a {
  color: #7f7f7f;
  display: flex;
  align-items: flex-start;
}

.action div {
  display: inline-block;
}

.action div p:hover {
  text-decoration: underline;
}

.action div:nth-child(n + 2) {
  margin-left: 20px;
}
.action span{
  margin-left: 7px;
  margin-top: 3px;
}
 .cont2{
color:var(--accent) !important;
}

.action a:hover{
  color:var(--accent); 
}


.cf:before,
.cf:after {
  content: "";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
.close{
  display: none;
}
 .commentBox{
  display: flex;
  justify-content:space-between ;
  margin-top: 1pc;
}
.commentBox input{
width: 90%;
color: white;
border: 1px solid var(--button-bg);
background-color: var(--button-bg);
border-radius: 8px;
font-size: 14px;
font-weight: 500;
padding: 0 40px 0 16px;
box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
}
.commentHelper{
  margin: 1pc;
}
.commentList {
  padding:0;
  list-style:none;
  max-height:200px;
  overflow:auto;
}
.commentList li {
 
  margin-top:10px;
  color: white;
  display: flex;
}
.commentList li > div {
  display:table-cell;
 

}
.commentText{
  margin-left: 10px;
}
.name-user-comment{
  color:var(--accent);
  font-size: 15px;
}
.commenterImage img {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 50%;
}
.commentText p {
  margin:5px 0;
}
.sub-text {
  color:#aaa;

  font-size:11px;
}