.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22);
}

.search-bar {
  height: 34px;
  display: flex;
  width: 100%;
  max-width: 450px;
}
.search-bar input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--button-bg);
  background-color: var(--button-bg);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("./North\ Tech\ Community\ Branding-26.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #fff;
}
.search-bar input:focus {
  border: 1px solid var(--accent);
}

.user-settings {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex-shrink: 0;
  margin-left: auto;
}
.user-settings svg {
  width: 23px;
  flex-shrink: 0;
  color: var(--accent);
}

.user-settings .notify {
  position: relative;
}
.user-settings .notify svg {
  width: 20px;
  margin-left: 24px;
  flex-shrink: 0;
}
.user-settings .notify .notification {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ec5252;
  position: absolute;
  right: 1px;
  border: 1px solid var(--theme-bg);
  top: -2px;
}
@media screen and (max-width: 575px) {
  .user-settings .notify .notification {
    display: none;
  }
}
.user-img {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.user-name {
  color: #fff;
  font-size: 16px;
  margin: 0 6px 0 12px;
}
