.unhotorized .unhotorizedcontainer {
    height: 30vh;
    width: 65vw;
    margin: 0 auto;
    margin-top: 20vh;
  }
  
  .unhotorized .error {
    color: var(--accent);
    font-family: 'Inconsolata';
    font-size: 20vw;
    text-align: center;
    text-shadow: 2px 2px 5px;
    -webkit-animation: shadow 1s infinite alternate ease-in-out;
            animation: shadow 1s infinite alternate ease-in-out;
  }
  
  .unhotorized .text {
    color: var(--accent);

    font-size: 3vw;
    font-family: 'PT Mono';
  }
  
  .unhotorized .line {
    -webkit-animation: cursor 1s infinite normal linear;
            animation: cursor 1s infinite normal linear;
  }
  
  .unhotorized .footer {
    color: var(--accent);

    font-family: 'Inconsolata';
    font-size: 2.5vw;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 40vh;
  }
  
 .unhotorized a,.unhotorized a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  @keyframes shadow {
    0% { text-shadow: 1px 1px 1px; }
    100% { text-shadow: 2px 2px 10px; }
  }
  @-webkit-keyframes shadow {
    0% { text-shadow: 1px 1px 1px; }
    100% { text-shadow: 2px 2px 10px; }
  }
  @keyframes cursor {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    75% { opacity: 1; }
  }
  @-webkit-keyframes cursor {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    75% { opacity: 1; }
  }
  .chatNo{
    width:30px;
  }
  .chatNo .unhotorizedcontainer{
    width:580px;
  }