:root {
  --primary: #24292f;
  --secondary: #f4f4f9;
  --button-bg: #353340;
  --accent: #15bab3;
  --border-color: rgb(128 129 145 / 24%);
}

body {
  margin: 0;
  background-color: var(--primary);
  font-family: "Rockwell", Helvetica, sans-serif;
overflow: hidden;
}
