:root {
  --primary: #24292f;
  --secondary: #f4f4f9;
  --button-bg: #353340;
  --accent: #15bab3;
  --border-color: rgb(128 129 145 / 24%);
  --swiper-theme-color:#15bab3 !important;
}

body {
  margin: 0;
  background-color: var(--primary);
  font-family: "Rockwell", Helvetica, sans-serif;
overflow: hidden;
color:var(--secondary)
}
.event{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.MuiList-root ,.MuiList-root li {
  background-color: var(--primary);
  color:white;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input:focus::after{
  border-color:  #15bab3;

}
.css-l4u8b9-MuiInputBase-root-MuiInput-root:after{
  border-color:  #15bab3;
}

.css-l4u8b9-MuiInputBase-root-MuiInput-root:after{
  border-bottom: 2px solid #15bab3 !important;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
color:#15bab3 !important;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
  color: var(--border-color) !important;
}
.css-hlj6pa-MuiDialogActions-root>:not(:first-of-type),.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  color: white !important;
}
.css-hlj6pa-MuiDialogActions-root>:not(:first-of-type):hover,.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover{
background-color: #15bab3 !important;
}

.MuiTouchRipple-root:hover{
  background-color: transparent !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color:white !important;
  background-color: #15bab3;
  font-family:sans-serif;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  color:white !important;
  font-family:sans-serif;

}
.css-heg063-MuiTabs-flexContainer{
  justify-content: center;
}
.acceptedFriend{
  display: flex;
  align-items: center;
  justify-content: center;
}
.acceptedFriend .unhotorized .unhotorizedcontainer{

  margin: 0;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
  z-index: 100;
  color: white !important;
  font-family: sans-serif;
}
label[data-shrink=false]+.MuiInputBase-formControl .css-1x51dt5-MuiInputBase-input-MuiInput-input{
  background-color: var(--primary) !important;
}
.MuiTypography-root #wrapper{
width: 95%;
}
.css-ahj2mt-MuiTypography-root ,.css-9l3uo3{
  display: flex;

  flex-wrap: wrap;
}